#root {
  max-width: 66vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(24, 9, 49);

}

.posts {
  text-align: left;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(24, 9, 49);
  background-color: #f9f9f9;
}

.post-meta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 1rem;
}